/* Hero Section */
.hero {
  padding: 140px 40px 120px 40px;
  text-align: center;
  background: radial-gradient(circle at center,
      rgba(11, 250, 107, 0.04),
      transparent 70%),
    linear-gradient(180deg, #0d0d0d, #1a1a1a);
  position: relative;
  overflow: hidden;
  min-height: 30vh;
}

.hero-content {
  height: auto;
  max-width: 100%;
  margin: 3px 0;
}

.hero h1 {
  font-size: 80px;
  margin: 0.5rem 0 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 0 20px;
}

#Emma {
  letter-spacing: -1px;
}

#hey {
  color: #0587ab;
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
}

.hero-p {
  font-size: 35px !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  padding: 20px 0 0 0;
  max-width: 700px;
  margin: 15px auto;
  color: #dcdcdc;
}

#typewriter {
  font-size: 30px;
}

.hero-p::after {
  content: "|";
  margin-left: 5px;
  color: #00c9ff;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

/* CTA Button */
.cta-button {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
  letter-spacing: 1.2;
  font-family: "Switzer", sans-serif, Helvetica, sans-serif;
  font-weight: 600;
  color: #000;
  background: linear-gradient(90deg, #00fb64, #00c9ff);
  border: none;
  border-radius: 12px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 255, 100, 0.2);
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
}

.cta-button:hover::before {
  left: 100%;
}

.cta-button:hover,
.cta-button:active {
  background: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(10px);
  color: #9af7a3;
  border: 2px solid rgb(190, 255, 190);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 255, 100, 0.3);
}

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 2.5rem;
  margin-top: 12px;
  color: #00c9ff;
}

.social-media a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
  margin: 7px;
}

.social-media a:hover {
  color: #1da1f2;
}

/* Responsive */
@media (min-width: 1200px) {
  .hero h1 {
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 5px;
    word-spacing: 1rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }
  
  .hero-p {
    font-size: 25px !important;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 35px;
  }
  
  .hero-p {
    font-size: 20px !important;
  }
}

