.works-section {
  overflow: hidden;
}

.works-slider {
  width: 100%;
  overflow: hidden;
}

.works-track {
  display: flex;
  width: calc(300px * 8);
  animation: scroll 20s linear infinite;
}


.work-card {
  flex: 0 0 300px;
}

.work-card img {
  height: 300px;
  width: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Perfect infinite loop */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
