.works-section {
  overflow: hidden;
}

.works-slider {
  width: 100%;
  overflow: hidden;
}

.works-track {
   display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  will-change: transform;
}


.work-card {
  flex: 0 0 300px;
}

.work-card img {
  height: 300px;
  width: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .work-card {
    flex: 0 0 200px;
  }

  .work-card img {
    height: 200px;
  }

  .works-track {
    animation-duration: 30s;
  }
}

/* Perfect infinite loop */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
