.works-section {
 /* optional */
  padding:  0;
  overflow: hidden;
}

.works-slider {
  width: 100%;
  overflow: hidden;
}

.works-track {
  display: flex;
  width: 100;
  animation: scroll 5s linear infinite;
}

.work-card {
  flex: 0 0 auto;
  margin: 0;
}

.work-card img {
  height: 300px; /* adjust size */
  width: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Keyframes for scrolling */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



